body{
    background-color: forestgreen;
}

h1{
    text-align: center;
}

#Form{
    padding: 2em;
    margin-left: 22em;
    background-color: rgb(252, 252, 252);
    width: 40em;
}

#datos_del_usuario{
    font-size: 2em;
}

#input{
    width: 50em;
    height: 3em;
    border-color: black;
    padding: 1em;
}
#Preguntas_al_usuario{
    font-size: 2em;
}

#check{
    background-color: aquamarine;
    

}